.Rproj.user
.Rhistory
.RData
.Ruserdata
to_sgs-main_20230306
summary_stats
qc_reports
Urb_Index_SGS
GBS-PreProcess-master
genome_Asyriaca
old
round3_all_vcfs
rounds3_4_all_vcfs
global_fst_vcf-all
global_pi_vcf-all
populations_no-IBD_vcf-all_mainfiles
R_dist_fst_vcf-all
surface1.rds
surface2.RData
