.Rproj.user
.Rhistory
.RData
.Ruserdata
to_sgs-main_20230306
stacks_output
qc_reports
Urb_Index_SGS
GBS-PreProcess-master
genome_Asyriaca
old
populations_no-IBD_vcf-all_mainfiles
surface1.rds
surface2.RData