populations.all.vcf
populations.haplotypes.tsv
populations.hapstats.tsv
populations.log
populations.log.distribs
populations.plink.map
populations.plink.ped
populations.sumstats.tsv
populations.sumstats_summary.tsv
